<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
<form action="/" method="post">
  <input type="text" name="to" placeholder="to-number" value="+18082183629">
  <textarea type="text" name="message" placeholder="message"></textarea>
  <input type="submit" value="send">
</form>
</div>
